:root {
  --site-bg: #f8f8f8;
  --block: #f2f2f2;
  --block-border: #e5e5e5;
  --block-hover: #ededed;
  --text-p0: #000;
  --text-p1: #333;
  --text-p2: #5a5a5a;
  --text-p3: #818181;
  --text-p4: #b3b3b3;
  --text-meta: #d0d0d0;
  --text-code: #111;
  --card: #fff;
  --theme-highlight: #03c7fa;
  --theme-bg: #e8fafe;
  --swiper-theme-color: #1bcdfc !important;
  --blur-px: 12px;
  --blur-bg: rgba(255, 255, 255, 0.5);
  --width-left: 256px;
  --width-main: 720px;
  --gap-l: 16px;
  --gap-p: 0.75rem;
}

* {
  user-select: none;
	overflow: hidden;
}

#app {
  overflow: visible;
}

html,
body {
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html {
  font-family: HarmonyOS_Regular, system-ui, "Microsoft Yahei", "Segoe UI", -apple-system, Roboto, Ubuntu, "Helvetica Neue", Arial, "WenQuanYi Micro Hei", sans-serif;
  font-weight: 300;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  height: 100%;
  background: var(--site-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#app {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}